.smart__about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 6rem;
    background-color: #e5e5f7;
    opacity: 1;
    background-image:  linear-gradient(30deg, #fefefe 12%, transparent 12.5%, transparent 87%, #fefefe 87.5%, #fefefe), linear-gradient(150deg, #fefefe 12%, transparent 12.5%, transparent 87%, #fefefe 87.5%, #fefefe), linear-gradient(30deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff), linear-gradient(150deg, #fff 12%, transparent 12.5%, transparent 87%, #fff 87.5%, #fff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
    background-size: 46px 81px;
    background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;
    max-height: 22rem;
}

.smart__about-pic img {
    position: relative;
    top: -5rem;
    height: 25rem;
}

.smart__about-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem 6rem;
}

.smart__about-content_title h1 {
    text-transform: uppercase;
    color: var(--color-dark_blue);
    font-size: 46px;
    text-shadow: 0px 0px 2px #000;
}

.smart__about-content_title div {
    height: .2rem;
    width: 2rem;
    background: var( --color-light_blue);
}

.smart__about-content_title {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

.smart__about-content p {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 1px #000;

}

.smart__about-content p b {
    color: var( --color-light_blue);
    text-shadow: 0px 0px 2px var( --color-light_blue);

}

.smart__about-content button {
    border: 2px solid var(--color-dark_blue);
    border-radius: 10px;
    background: transparent;
    padding: .2rem 1rem;
    color: var(--color-dark_blue);
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .smart__about-pic img {
        height: 23rem;
        top: -.5rem;
    }
    .smart__about-content_title h1 {
        font-size: 40px;
    }
    .smart__about-content p {
        font-size: 23px;
    }
}

@media screen and (max-width: 1024px) {
    .smart__about-content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .smart__about-content {
        padding: 1rem 0;
    }
    .smart__about-pic img {
        height: 20rem;
        right: 7rem;
    }
    .smart__about-content p {
        width: 45vw;
        font-size: 16px;
    }
    .smart__about-content button {
        font-size: 16px;
    }
}

@media screen and (max-width: 512px) {
    .smart__about-content {
        padding: 1rem 0;
    }
    .smart__about-pic img {
        height: 18rem;
        top: .1rem;
    }
    .smart__about-content p {
        width: 40vw;
        font-size: 12px;
        margin-bottom: .5rem;
    }
    .smart__about-content button {
        font-size: 14px;
    }
}