.wake__ctaP {
  display: none;
}

@media (width < 640px) {
  .wake__ctaP {
    display: flex;
    
  }
  .wake__cta-container {
    padding: 2rem 1rem;
  }
  .wake__cta-container h1 {
    font-size: 12px;
  }
  .wake__cta-container a {
    font-size: 9px;
  }
}
