body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 40);
  border-radius: 20px;
  border: none;
}

.smart__projects {
  padding: 2rem 4rem;
  background-color: #000;
}

.smart__projects-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smart__projects-title h1 {
  font-size: 36px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.smart__projects-title_sub {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.smart__projects-title_sub p {
  color: var(--color-light_blue);
  font-size: 22px;
}

.smart__projects-title_sub div {
  width: 2rem;
  height: 0.15rem;
  background-color: var(--color-light_blue);
  margin: 0 1rem;
}

.smart__projects-design {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.smart__projects-design_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.smart__projects-design_title div {
  width: 3rem;
  height: 0.15rem;
  background-color: var(--color-light_blue);
  margin: 0 1rem;
}

.smart__projects-design_title h1 {
  font-size: 34px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.smart__projects-design_cards {
  display: flex;
  flex-direction: row;
}

.smart__projects-dev {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.smart__projects-dev_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.smart__projects-dev_title div {
  width: 3rem;
  height: 0.15rem;
  background-color: var(--color-light_blue);
  margin: 0 1rem;
}

.smart__projects-dev_title h1 {
  font-size: 34px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.smart__projects-dev_cards {
  display: flex;
  flex-direction: row;
}

.smart__projects-card_img {
  height: 20rem;
  width: 20rem;
}

@media screen and (max-width: 1100px) {
  .smart__projects-dev_cards img {
    height: 200;
  }
}

#italia {
  width: 90vw;
  height: 200vh;
}

#ffy {
  width: 90vw;
  height: 200vh;
}

#burguer {
  width: 90vw;
  height: 200vh;
}