.wake__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wake__slide-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.wake__slide-title h1 {
  font-size: 54px;
  max-width: 60%;
}

.wake__slide-title h1 b {
  color: var(--color-light_blue);
}

.wake__slide-slider {
  width: 100%;
  display: flex;
  padding: 2rem 0;
}

.wake__slide-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wake__slide-btn a {
  color: #fff;
  background-color: #0f964c;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-card {
  background-color: var(--color-light_blue);
  padding: 2rem;
  border: none;
  border-radius: 30px;
  display: flex;
  width: 100%;
}

.up {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding: 0 2rem;
}

.up img {
  width: 4rem;
}

.up h1 {
  color: #fff;
  font-size: 62px;
}

.up p {
  color: #fff;
  font-size: 22px;
  padding: 1rem 0;
}

.up hr {
  border: 1px solid black;
  max-width: 50%;
  margin: 1rem 0;
}

.up ul li {
  font-size: 18px;
  color: #fff;
}

.up ul li::marker {
  color: #000;
  font-size: 24px;
}

.down {
  width: 50%;
  display: flex;
  justify-content: center;
}

.down img {
  width: 30rem;
}

@media (width < 1920px) {
  .wake__slide-title h1 {
    font-size: 35px;
  }
  .wake__slide-btn a {
    font-size: 18px;
  }
  .up img {
    width: 2rem;
  }

  .up h1 {
    font-size: 35px;
  }

  .up p {
    font-size: 18px;
    padding: 1rem 0;
  }

  .up ul li {
    font-size: 14px;
  }

  .up ul li::marker {
    font-size: 22px;
  }

  .down img {
    width: 20rem;
  }
}
