.wake__how {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wake__how-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}

.wake__how-title h1 {
  font-size: 54px;
  font-weight: bold;
}

.wake__how-title h1 b {
  color: var(--color-light_blue);
}

.wake__how-title p {
  font-size: 24px;
  font-weight: 500;
  max-width: 47%;
}

.wake__how-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wake__how-btn a {
  color: #fff;
  background-color: #0f964c;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 20px;
  text-transform: uppercase;
  max-width: 47%;
}

.wake__how-cards {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.grid-item {
  min-height: 15rem;
  width: 100%;
}

.normal-grid {
  display: none;
}

@media (width < 1920px) {
  .wake__how-title h1 {
    font-size: 35px;
  }
  .wake__how-title p {
    font-size: 16px;
    font-weight: 500;
    max-width: 47%;
  }
  .grid-item {
    min-height: 12rem;
  }
  .wake__how-btn a {
    font-size: 18px;
  }
}

@media (width < 1280px) {
  .wake__how-title h1 {
    font-size: 24px;
  }
  .wake__how-title p {
    font-size: 13px;
    font-weight: 500;
    max-width: 47%;
  }
  .grid-item {
    min-height: 12rem;
  }
  .wake__how-btn a {
    font-size: 13px;
  }
}

@media (width < 854px) {
  .wake__how-title {
    padding: 4rem 0 0 0;
  }
  .wake__how-title h1 {
    font-size: 18px;
  }
  .wake__how-title p {
    font-size: 10px;
    font-weight: 500;
    max-width: 47%;
  }
  .wake__how-btn a {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    max-width: 50%;
  }
  .grid-item {
    min-height: 10rem;
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
  }
  .normal-grid {
    display: flex;
    flex-direction: column;
    padding: 0rem 4rem;
    gap: 1rem;
  }
}

@media (width < 640px) {
  .wake__how-title {
    padding: 4rem 0 0 0;
  }
  .wake__how-title h1 {
    font-size: 24px;
  }
  .wake__how-title p {
    font-size: 11px;
    font-weight: 500;
    max-width: 70%;
  }
  .wake__how-btn a {
    padding: 1rem 2rem;
    font-size: 11px;
    max-width: 100%;
  }
  .grid-item {
    height: 150px;
    width: 100%;
  }
  .top {
    display: none;
  }
  .bottom {
    display: none;
  }
  .normal-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
}
