.smart__contact {
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.smart__contact h1 {
  font-size: 42px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#smart__contact-qr {
  padding: 4rem 6rem;
  height: 400px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9;
}

@media screen and (max-width: 512px) {
    #smart__contact-qr {
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
  #smart__contact-qr {
      height: 250px;
  }
}