* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 16rem;
}

.section__margin {
  margin: 4rem 6rem;
}

@media (width < 1920px) {
  .container {
    padding: 5rem 10rem;
  }
}

@media (width < 1280px) {
  .container {
    padding: 5rem 7rem;
  }
}

@media (width < 854px) {
  .container {
    padding: 5rem 5rem;
  }
}

@media (width < 640px) {
  .container {
    padding: 3rem 2rem;
  }
}