* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--color-dark_blue);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

body::-webkit-scrollbar {
  width: 12px;             
}

body::-webkit-scrollbar-track {
  background: transparent;       
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 40);    
  border-radius: 20px;       
  border: none;  
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}
