* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-dark_blue);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}
