#main {
    width: 100%;
}

.wake__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wake__header-mainTxt {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    gap: 1rem;
}

.wake__header-mainTxt h1 {
    font-size: 54px;
    font-weight: bold;
}

.wake__header-mainTxt h1 b {
    color: var(--color-light_blue);
}

.wake__header-mainTxt p {
    padding: 1rem 0 1rem 0;
    font-size: 24px;
    font-weight: 600;
}

.wake__header-mainTxt_fa {
    border: none;
    border-radius: 10px;
    background-color: var(--color-light_blue);
    max-width: 70%;
    text-align: center;
    color: #fff;
    padding: 1rem 0 1rem 0;
    font-weight: 500;
    font-size: 26px;
    text-transform: uppercase;
}
.wake__header-mainTxt_la {
    border: none;
    background-color: transparent;
    max-width: 70%;
    text-align: center;
    color: #bbbbbb;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
}

.wake__header-mainImg img {
    width: 40rem;
}