.smart__jobs {
    padding: 6rem 6rem;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/servico.png');
    background-size: cover;
}

.smart__jobs-title {
    display: flex;
    flex-direction: column;
}

.smart__jobs-title_h {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.smart__jobs-title_h div {
    height: 3px;
    width: 5rem;
    background-color: var(--color-one);
    margin: 0 .5rem 0 0;
}

.smart__jobs-title_h h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.smart__jobs-title p {
    color: #fff;
    letter-spacing: 1px;
}

.smart__jobs-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

@media screen and (max-width: 1200px) {
    .smart__jobs-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}